.overlight-pane-overlay-mask {
    position: absolute;
    z-index: 2000;
    background: black;
    /*overflow: hidden;*/
    /* opacity: 0.50 */
    }
.overlight-pane-overlay-text {
    display: block;
    position: absolute;
    z-index: 2001;
    overflow: hidden;
    font: bold 120px/120px Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    border: 4px solid #E7E700;
    color: #E7E700;
    }

.overlight-pane-overlay-text:hover {
    border-color: white;
    color: white;
    }
