body {
    padding: 0;
    margin: 0;
    font: normal 18pt/28pt "Times New Roman", serif;
    background: #ECF7F2;
}


h2 {
    font: normal 20pt Impact, "Arial Black", sans-serif;
    margin: 0;
    padding: 10px 20px;
    background: #F4FFFA;
    border-bottom: 2px solid #00A359;
    }
h2 a {
    text-decoration: none;
    }
h2 a:hover {
    }


h1 {
    font: normal 24pt/28pt Impact, "Arial Black", sans-serif;
    margin: 0;
    padding: 10px 20px;
    background: #FFF1F1;
    border-bottom: 1px solid #FF0000;
    }
h1 .params {
    font: normal 24pt/28pt Arial;
    }
h1 .type {
    display: block;
    text-transform: uppercase;
    font: normal 8pt/8pt Arial, sans-serif;
    color: #999999;
    }


#canvas {
    clear: both;
    background: white;
    border-bottom: 2px solid #00A359;
    margin: 0;
    padding: 0;
    }


#nav {
    width: 25%;
    float: left;
    margin: 0 0 20px;
    padding: 0;
    overflow: hidden;
    }
#nav h3 {
    margin: 0 20px 0 0;
    padding: 0 0 0 20px;
    font: normal 16pt Impact, "Arial Black", sans-serif;
    color: #999999;
    border-bottom: 1px solid #CCCCCC;
    background: #F6F6F6;
    }
#nav ul {
    list-style: none;
    margin: 10px 0 20px;
    padding: 0 30px 0 15px;
    }
#nav li {
    display: inline;
    margin: 0;
    padding: 0;
    line-height: 100%;
    white-space: nowrap ! important;
    font: bold 14pt Arial, sans-serif;
    }
#nav li.current {
    display: block;
    border: 1px solid #FF0000 ! important;
    background: #FFF1F1 ! important;
    color: #FF0000 ! important;
    padding: 2px 4px;
    }
#nav li a {
    display: block;
    padding: 2px 4px;
    margin: 3px 0;
    border: 1px solid white;
    background: transparent;
    color: #0000EE;
    text-decoration: none;
    }
#nav li a:visited {
    border: 1px solid white;
    background: transparent;
    color: #551A8B;
    }
#nav li a:hover {
    border: 1px solid #00A359;
    background: #ECF7F2;
    color: #00A359;
    }
#nav dl {
    margin: 10px 20px;
    padding: 0;
    font: normal 14pt/14pt Arial, sans-serif;
    }

#content {
    width: 75%;
    float: right;
    margin: 0;
    padding: 0;
    overflow: auto;
    }
#content-hack {
    margin: 0;
    padding: 0 20px 20px 0;
    }


a:link
    { color:#0000EE; }
a:hover
    { color:#00A359; }
a:visited
    { color:#551A8B; }
a:visited:hover
    { color:#00A359; }
a:active
    { color:#FF0000; }


dl {
    padding: 0 0 0 2em;
    }
dt {
    font-weight: bold;
    line-height: 100%;
    }
dd {
    margin: 0.5em 0 1em 1.5em;
    line-height: 130%;
    }

pre {
    background: #F6F6F6;
    border-bottom: 2px solid #CCCCCC;
    font: normal 14pt/14pt monospace;
    margin: 0;
    padding: 0.5em 2px;
    width: 100%; /* for IE */
    overflow: auto;
    }
pre.noshade {
    background: transparent;
    border: none;
    overflow: show;
    margin: 30px 30px 30px 0;
    padding: 0;
    }


hr {
    display: none;
    }

#footer {
    clear: both;
    font: italic 10pt/10pt Arial, sans-serif;
    margin: 0;
    padding: 10px 20px;
    }
